@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 400ms;
}

body {
    font-family: 'Barlow';
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: black;
    color: white;
    padding: 20px 50px 25px 50px;
}

.navbar .nav-rigth {
    display: flex;
    gap: 0 30px;
}

.navbar .nav-rigth a {
    color: white;
}

.navbar .nav-rigth a:hover {
    color: purple;
}

.navbar .nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar .nav-left a {
    text-decoration: none;
    color: white;
}

.navbar .nav-left .nav-logo {
    width: 40px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imgs/background.jpg);
    background-size: contain;
    background-repeat: round;
    padding: 50px;
    gap: 50px;
}

.maps {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}

.map {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px 20px 18px;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.856);
    border: 2px solid gray;
    width: 230px;
}

.map a {
    color: darkslategrey;
}

.map a:hover {
    color: rgb(4, 141, 141);
    transform: scale(1.02);
}

.comandos {
    padding: 10px 20px 20px 18px;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.856);
    border: 2px solid gray;
    width: 700px;
}

.comandos h1 {
    text-align: center;
}

hr {
    margin: 10px 0;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: black;
    color: rgb(163, 160, 160);
}

.footer h4 {
    margin-bottom: 20px;
}

.loja-body {
    height: 100vh;
}

iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .navbar .nav-left h1 {
        font-size: 24px;
    }
    .comandos {
        width: 400px;
    }
}

@media (max-width: 600px) {
    .navbar .nav-left h1 {
        display: none;
    }
    .comandos {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .main {
        padding: 10px;
    }
    .comandos {
        padding: 10px 20px 20px 18px;
        width: 100%;
    }
    .maps {
        gap: 10px;
    }
    .map {
        width: 100%;
    }
}

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 10%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 10%;
    margin-left: -5px;
    width: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
